<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.min.js"></script>
  </head>
  <body id="app">
    <form class="form-group" id="form">
        <input type="text" id="newUserQQ" name="userQQ" class="form-control" v-model="newUserQQ" placeholder="请输入qq号">
        <input type="text" id="newPassword" name="password" class="form-control" v-model="newPassword"  placeholder="请输入qq密码">
    </form>
    <button class="btn btn-primary" @click="newQQuser()">提交</button>

    <h2>爬取的用户信息</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>QQ号</th>
          <th>昵称</th>
          <th>性别</th>
          <th>年龄</th>
          <th>出生年份</th>
          <th>生日</th>
          <th>所在地</th>
          <th>出生地</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="userInfo in userInfos">
          <td>{{ userInfo.uin }}</td>
          <td>{{ userInfo.nickname }}</td>
          <td>{{ userInfo.sex == 2 ? '女' : '男' }}</td>
          <td>{{ userInfo.age }}</td>
          <td>{{ userInfo.birthyear }}</td>
          <td>{{ userInfo.birthday }}</td>
          <td>{{ userInfo.country + ' ' + userInfo.province + ' ' + userInfo.city }}</td>
          <td>{{ userInfo.hco + ' ' + userInfo.hp + ' ' + userInfo.hc }}</td>
        </tr>
      </tbody>
    </table>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
         userInfos:[],
         newUserQQ : "",
         newPassword : ""
        },
        created: function () {
          setInterval(this.getUserInfo, 3000);
        },
        methods: {

          /**
           * 新增一个爬虫用户, 实现检查 QQ号 和 密码 的合法性, 并进行提交
           */
          newQQuser: function () {

            // 检查新建 QQ号 的表单是否合法
            if(this.newUserQQ.length < 5 || this.newPassword.length < 5){
              alert("请填写正确的 QQ号 和 QQ密码 后重试!");
              return;
            }
              
            var newQQobj = {
              userQQ : this.newUserQQ,
              password : this.newPassword
            }

            this.$http.post("/", newQQobj).then(function(data){
              alert(data.data)
            })
          },

          /**
           * 定时获取当前爬虫的个人档信息, 并保存到 userInfos 中
           */
          getUserInfo : function () {

            this.$http.get("/list").then(function(data){

              // 检查返回内容是否为数组
              if(!(data.data instanceof Array)) return;

              this.userInfos = data.data;
            })

          }
        }
      })

    </script>
  </body>
</html>

